* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightblue;

}

#ice-2 {
    float:right;
}
main {
    width:40%;
    background-color: white;
    border-radius: .45rem;
    padding: 2rem 1rem;
    margin: auto;
}

header {
    font-family: "Comic Sans",Roboto,'sans-serif';

}
#header-title{
    text-align: center;
}

legend {
    color:darkgreen;
    font-family: "Comic Sans", Roboto, 'sans-serif';
    font-size: 1.5rem;
    padding: 1rem 1rem;
    text-align: center;
}

fieldset{
    border:1px solid grey;
    border-radius: .25rem;
    padding: 1.25rem;
    margin-bottom: .5rem;
}

#submit-button{
    border: none;
    background-color: rgb(89, 177, 82);
    border-color:darkgreen;
    border-radius: .25rem;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 1rem;
}



